<a href="https://colab.research.google.com/github/Haxr213/Universidade_Catolica_Santos/blob/master/6_Semestre/Inteligencia_Artificial/ACO_carrinho_compras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Autores
* Guilherme Rabelo
* Luis Durante
* Victor Gabriel
* Victor Moreno
* Vitor Kuribara


Otimização utilizando colônia de formigas, baseado no trabalho "carrinho de compras". O problema leva em consideração itens de mercado, buscando o carrinho com melhor custo benefício possível para o cliente


Otimização com algoritmo genético:
https://github.com/luisdurante/IA-II-algoritmo-genetico-carrinho-de-compras/blob/master/carrinho_compras.ipynb

### **Importações**

In [ ]:
import numpy as np
import pandas as pd
import random as rd
import math
import matplotlib.pyplot as plt

#Instalando o ACO-PANTS, deve ser executado pelo menos uma vez
!pip install ACO-PANTS
!pip install ipython-autotime
%load_ext autotime

import pants

Requirement already satisfied: ACO-PANTS in /usr/local/lib/python3.6/dist-packages (0.5.2)
Requirement already satisfied: ipython-autotime in /usr/local/lib/python3.6/dist-packages (0.2.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (50.3.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (4.3.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->ipython-autotime) (0.6.0)
The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 4.85 s

### **Leitura da base de dados (arquivo CSV)**

In [ ]:
url = "https://raw.githubusercontent.com/luisdurante/IA-II-algoritmo-genetico-carrinho-de-compras/master/amostra.csv"
df = pd.read_csv("https://raw.githubusercontent.com/luisdurante/IA-II-algoritmo-genetico-carrinho-de-compras/master/amostra.csv", sep=';')
df.head()

           produto     valor  prioridade categoria  valor nutritivo
0             água   R$ 1,99           5   bebidas                5
1          cerveja   R$ 3,99           2   bebidas                1
2  refrigerante 2L   R$ 6,00           5   bebidas                1
3            vodka  R$ 30,00           1   bebidas                1
4            vinho  R$ 60,00           2   bebidas                1

time: 87.7 ms

In [ ]:
df.valor = df.valor.apply(lambda x: float(x.replace(',','.')[2:]))
df['valor nutritivo'] = df['valor nutritivo'].apply(lambda x: float(x))
df.valor.sum()
df.head()

           produto  valor  prioridade categoria  valor nutritivo
0             água   1.99           5   bebidas              5.0
1          cerveja   3.99           2   bebidas              1.0
2  refrigerante 2L   6.00           5   bebidas              1.0
3            vodka  30.00           1   bebidas              1.0
4            vinho  60.00           2   bebidas              1.0

time: 20.5 ms

### **Elaboração do Pontos**

In [ ]:
df.drop(columns=['produto', 'prioridade', 'categoria'], axis='1', inplace=True)
df.head()

   valor  valor nutritivo
0   1.99              5.0
1   3.99              1.0
2   6.00              1.0
3  30.00              1.0
4  60.00              1.0

time: 16 ms

In [ ]:

nodes = []
records = df.to_records(index=False)
nodes = list(records)
print(nodes)

[(1.99, 5.), (3.99, 1.), (6., 1.), (30., 1.), (60., 1.), (48., 4.), (25., 5.), (35., 3.), (35.48, 4.), (30.68, 3.), (15., 2.), (3.5, 5.), (18., 5.), (18.13, 3.), (6., 3.), (5., 4.), (5.98, 3.), (5.09, 4.), (6.09, 4.), (7., 5.), (8., 3.), (5.24, 3.), (3., 4.), (6.15, 5.), (8.45, 5.), (7.07, 5.), (6.11, 5.), (8.32, 5.), (5.37, 2.), (33., 1.), (7.18, 1.), (3.17, 3.), (2., 2.), (14., 2.), (17., 4.), (8.15, 4.), (10., 4.), (8.3, 3.), (6.5, 3.)]
time: 12.9 ms

### **Função de Transição**

In [ ]:
def nota(a, b):
    #Baseado em valor nutritivo
    return math.sqrt(pow((a[1]*5)/a[0], 2) + pow((b[1]*5)/b[0], 2))

time: 4.18 ms

### **Algoritmo para Melhor Resultado**

In [ ]:
#Orçamento do cliente
precoLimite = 100

#Criação do mundo para as formigas
world = pants.World(nodes, nota)

#Construção do solver
solver = pants.Solver()

#Carrinho com a melhor solução
carrinho = []

#Variáveis de avaliação da solução
fatorben = 0.0
preco = 0.0
valor = 0.0
valornut = 0
benMinimo = 1.5

#Variáveis delimitadoras
iter = 10
i = 0
j = 0
#Utilizado junto ao beneficio minimo, garante que a solução atenda o custo 
#benefício mínimo esperado
halt = 1

time: 33.8 ms

### **Melhor Carrinho**

In [ ]:
while (j < iter):
  #Faz a otimização
  solution = solver.solve(world)
  lista = (solution.tour)
  #Cria um carrinho válido (dentro do orçamento) particionando o vetor
  for x in lista:
    if ((valor + x[0]) <= precoLimite):
      valor = valor + x[0]
      valornut = valornut + x[1]
      i = i + 1
    else:
      #Avalia o carrinho, substituindo o antigo caso encontre um melhor
      if ((valornut*5/valor) > fatorben):
        carrinho.clear
        carrinho = (lista)[:i]
        fatorben = valornut*5/valor
        preco = valor
      if (fatorben >= benMinimo):
        halt = 0
      if (halt != 1):
        j = j + 1
      i = 0
      valor = 0.0
      valornut = 0
      break
      

print("De acordo com o orcamento de R$", precoLimite,"\b. Sugerimos este carrinho:", carrinho)
print("Com o preco de: R$", format(preco,".2f"))
print("Custo beneficio: ", fatorben)

De acordo com o orcamento de R$ 100 . Sugerimos este carrinho: [(3.5, 5.), (8.15, 4.), (8.32, 5.), (6., 3.), (25., 5.)]
Com o preco de: R$ 50.97
Custo beneficio:  2.158132234647832
time: 46.6 s